# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
/Packages

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.xcuserstate

# Build products
/dist/
*.app
*.dSYM/
*.zip
